<template>
    <div class="users">
        <el-breadcrumb style="margin-bottom:20px" separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户列表</el-breadcrumb-item>
        </el-breadcrumb>
        <el-form :inline="true">
            <el-form-item>
                <el-input
                    style="width:350px;"
                    v-model="params.query"
                    @keyup.enter.native="getUsers"
                >
                    <el-button slot="append" icon="el-icon-search" @click="getUsers"></el-button>
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="userInfoDiglog = true">添加用户</el-button>
            </el-form-item>
        </el-form>
        <el-table :data="result.users" border style="width: 100%">
            <el-table-column type="index" label="#" width="50"></el-table-column>
            <el-table-column prop="username" label="姓名" width="180"></el-table-column>
            <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
            <el-table-column prop="mobile" label="电话"></el-table-column>
            <el-table-column prop="create_time" label="创建日期"></el-table-column>
            <el-table-column prop="mg_state" label="用户状态">
                <template slot-scope="scope">
                    <el-switch
                        v-model="scope.row.mg_state"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                    ></el-switch>
                </template>
            </el-table-column>
            <el-table-column prop="address" label="操作">
                <template slot-scope="scope">
                    <el-button
                        type="primary"
                        @click.native="reviseUser(scope.row)"
                        size="small"
                        icon="el-icon-edit"
                        circle
                    ></el-button>
                    <el-button
                        type="danger"
                        @click.native="removeUser(scope.row.id)"
                        size="small"
                        icon="el-icon-delete"
                        circle
                    ></el-button>
                    <el-button
                        type="success"
                        @click.native="AssignUserRoles(scope.row)"
                        size="small"
                        icon="el-icon-check"
                        circle
                    ></el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
            style="margin-top:15px"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="params.pagenum"
            :page-sizes="[2, 4, 6, 8]"
            :page-size="params.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="result.total"
        ></el-pagination>
        <!-- 添加用户对话框 -->
        <el-dialog title="添加用户" :visible.sync="userInfoDiglog">
            <el-form :model="userInfoform" ref="userInfoform">
                <el-form-item
                    label="用户名"
                    prop="username"
                    :label-width="formLabelWidth"
                    :rules="[{required:true,message:'请输入用户名',trigger:'blur'}]"
                >
                    <el-input v-model="userInfoform.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item
                    label="密码"
                    prop="password"
                    :label-width="formLabelWidth"
                    :rules="[{required:true,message:'请输入密码',trigger:'blur'}]"
                >
                    <el-input v-model="userInfoform.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电话" :label-width="formLabelWidth">
                    <el-input v-model="userInfoform.mobile" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" :label-width="formLabelWidth">
                    <el-input v-model="userInfoform.email" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="userInfoDiglog = false">取 消</el-button>
                <el-button type="primary" @click="addUsers">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 修改用户对话框 -->
        <el-dialog title="编辑用户" :visible.sync="reviseUserDiglog">
            <el-form :model="reviseUserform" ref="reviseUserform">
                <el-form-item label="用户名" :label-width="formLabelWidth">
                    <el-input v-model="reviseUserform.username" :disabled="true" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电话" :label-width="formLabelWidth">
                    <el-input v-model="reviseUserform.mobile" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" :label-width="formLabelWidth">
                    <el-input v-model="reviseUserform.email" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="reviseUserDiglog = false">取 消</el-button>
                <el-button type="primary" @click.native="reviseUserInfo">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 分配用户角色 -->
        <el-dialog title="分配角色" :visible.sync="dialogFormVisible">
            <el-form :model="distriButionForm">
                <el-form-item label="用户名" :label-width="formLabelWidth">
                    <el-input
                        v-model="distriButionForm.username"
                        :disabled="true"
                        autocomplete="off"
                    ></el-input>
                </el-form-item>
                <el-form-item label="角色" :label-width="formLabelWidth">
                    <el-select v-model="distriButionForm.rid">
                        <el-option
                            v-for="item in RolesList"
                            :key="item.id"
                            :label="item.roleName"
                            value="item.id"
                        ></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click.native="dialogFormVisible = false">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import {
    getUsers,
    addUsers,
    reviseUserInfo,
    removeUser,
    getUsersRolesList,
    AssignUserRight,
    getUsersID
} from "../../http/api";
export default {
    data() {
        return {
            RolesList: [],
            distriButionForm: {
                username: "",
                rid: ""
            },
            formIn: {
                user: "",
                region: ""
            },
            result: {},
            params: {
                query: "",
                pagenum: 1,
                pagesize: 2
            },
            userInfoform: {
                username: "",
                password: "",
                email: "",
                mobile: ""
            },
            reviseUserform: {
                id: "",
                username: "",
                mobile: "",
                email: ""
            },
            userInfoDiglog: false,
            formLabelWidth: "80px",
            dialogFormVisible: false,
            reviseUserDiglog: false
        };
    },
    created() {
        this.getUsers();
    },
    methods: {
        async AssignUserRoles(obj) {
            const res = await getUsersRolesList();
            console.log(res);
            this.RolesList = res.data;
            const getRid = await getUsersID(obj.id);
            console.log(getRid)
            this.distriButionForm.username = obj.username;
            this.distriButionForm.rid = getRid.data.rid;
            this.dialogFormVisible = true;
        },
        //获取用户列表
        async getUsers() {
            try {
                const res = await getUsers(this.params);
                this.result = res.data;
            } catch (err) {
                console.log(err);
            }
        },
        //改变每页显示得条数
        handleSizeChange(num) {
            this.params.pagesize = num;
            this.getUsers();
        },
        //页码发生变化时
        handleCurrentChange(num) {
            this.params.pagenum = num;
            this.getUsers();
        },
        //添加用户
        addUsers() {
            this.$refs.userInfoform.validate(async valid => {
                try {
                    if (valid) {
                        const res = await addUsers(this.userInfoform);
                        this.$message({
                            showClose: true,
                            message: res.meta.msg,
                            type: "success"
                        });
                        (this.userInfoDiglog = false),
                            this.$refs.userInfoform.resetFields(),
                            this._getUsers();
                    }
                } catch (err) {}
            });
        },
        //添加用户,排除query
        async _getUsers() {
            const { pagenum, pagesize } = this.params;
            const res = await getUsers({
                pagenum,
                pagesize
            });
            this.result = res.data;
        },
        //编辑时传入的信息
        reviseUser(obj) {
            this.reviseUserDiglog = true;
            this.reviseUserform.id = obj.id;
            this.reviseUserform.username = obj.username;
            this.reviseUserform.mobile = obj.mobile;
            this.reviseUserform.email = obj.email;
        },
        //修改用户信息
        async reviseUserInfo() {
            const { mobile, email, id } = this.reviseUserform;
            const data = { mobile, email };
            const res = await reviseUserInfo(id, data);
            this.$message({
                showClose: true,
                message: res.meta.msg,
                type: "success"
            });
            this.reviseUserDiglog = false;
            this._getUsers();
        },
        //删除单个用户
        removeUser(id) {
            this.$confirm("此操作将永久删除该用户, 是否继续?", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning",
                center: true
            })
                .then(async () => {
                    const res = await removeUser(id);
                    this.$message({
                        showClose: true,
                        message: res.meta.msg,
                        type: "success"
                    });
                    console.log(res);
                    this.getUsers();
                })
                .catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除"
                    });
                });
        },
    }
};
</script>

<style lang="scss" scoped>
.users {
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}
</style>