<template>
    <div class="login">
        <div class="login-from-wrap">
            <h3 class="login-from-title">欢迎登陆</h3>
            <div class="login-from">
                <el-form
                    :model="formInline"
                    size="small"
                    :rules="rules"
                    class="demo-form-inline"
                    ref="login-form"
                >
                    <el-form-item prop="username">
                        <el-input v-model="formInline.username" placeholder="请输入用户名">
                            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" v-model="formInline.password" placeholder="请输入密码">
                            <el-button slot="prepend" icon="el-icon-lock"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="login" class="login-from-btn" type="primary">登录</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
import { login } from "../http/api";
import { async } from "q";
export default {
    data() {
        return {
            formInline: {
                username: "",
                password: ""
            },
            rules: {
                username: [
                    { required: true, message: "请输入用户名", trigger: "blur" }
                ],
                password: [
                    { required: true, message: "请输入密码", trigger: "blur" }
                ]
            }
        };
    },
    methods: {
        // login(){
        //     login(this.formInline).then(res=>{
        //         console.log(res);
        //     })
        // }//promise封装方法
        login() {
            this.$refs["login-form"].validate(async validate => {
                try {
                    if (validate) {
                        const res = await login(this.formInline)
                        const { token, username } = res.data
                        this.$message({
                            showClose: true,
                            message: "欢迎回来," + username,
                            type: "success"
                        });
                        this.$store.commit("setToken", token);
                        this.$store.commit("setUsername", username);
                        this.$router.replace({
                            name: "index"
                        });
                    } else {
                        return false;
                    }
                } catch (err) {}
            });
        } //async封装方法
    }
};
</script>

<style lang="scss" scoped>
.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
        center center no-repeat;
    background-size: cover;
    .login-from-wrap {
        width: 300px;
        background: #fff;
        border-radius: 10px;
        margin-right: 160px;
        padding: 15px;
        box-sizing: border-box;
        .login-from-title {
            font-weight: 700;
            padding: 15px;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
        }
        .login-from {
            padding: 15px;
            .login-from-btn {
                width: 100%;
            }
        }
    }
}
</style>